*{
	margin:0;
	padding: 0;
	text-decoration: none;
}
	.header{
		width:100% ;
		height:480px;
		background: url(image/bj.png);
	}
	.nav-top{
		width: 80%;
		height: 160px;
	/*	border: 1px solid red;*/
		margin: 0 auto;
		font-size: 50px;
	}
	.n-right{
		float: right;
		margin-top: 30px;
	}
	.n-right a:hover img{
		filter:alpha(Opacity=50);
		-moz-opacity:0.8;
		opacity: 0.8;
	} 
	.unline{
		width: 80%;
		border: 1px solid #ffffff;
		border-radius:40px;
		margin: 0 auto;
		margin-top: -50px;
	}
	.nav-bottom {
		margin: 0 auto;
		width: 80%;
		height: 50px;
		/*border: 1px solid red;*/
	}
	.nav-bottom ul li{
			list-style: none;
			float: left;
			line-height: 40px;
			margin-left: 90px;
			margin-top:10px;
	}
	.nav-bottom ul li a{
		color: #ffffff
	}
	.nav-bottom ul li a:hover{
		color: green
	}
	.ss{
		margin-top: 14px;
		float: right;
	}
	.header .swiper-container {
	    width: 80%;
	    height: 300px;
	}
	.swiper-slide img{
		width: 270px;
		height: 270px;
		margin-top: -220px;
		float: right;
		margin-right: 200px;
	}
	.header .swiper-button-next{
		background-image:url("image/jt.png");
	}
	.header .swiper-button-prev{
		background-image:url("image/jt2.png")
	}
	.h1{
		color: green;
		margin-left:120px;
		margin-top:20px;
	}
	.p1{
		color: #ffffff;
		font-size: 16px;
		margin-top:20px;
		margin-left:120px;
		line-height:30px;
	}
	.btn{
		background-color:transparent;
		border-style:none;
		color: #ffffff;
    	border: 1px solid #ffffff;
    	margin-left: 120px;
    	font-size: 14px;
    	margin-top:10px;
	}
	.stn{
		width: 100%;
		height: 300px;
		/*border: 1px solid red;*/

	}
	.txt{
		margin-left: 45%;
		margin-top:70px;
		color: green;
		font-size: 26px;
	}
	.txt1{
		margin-top: 10px;
		margin-left: 18%;
		color: #9b9999;
		line-height: 40px;
	}
	.txt2{
		text-decoration:underline;
		font-size: 18px;
		margin-left: 46%;
		margin-top:30px;
	}
	.txt2 a{
		color: green;
	}
	hr {
		width:80%;
		margin:0 auto;
		margin-top:50px;
		border: 0;
		height: 1px;
 background-image: linear-gradient(to right,
	  rgba(0, 0, 0, 0),
	  rgba(0, 0, 0, 0.75), 
	  rgba(0, 0, 0, 0));
	}
	.stn1{
		width: 80%;
		height: 300px;
		margin: 0 auto;
	/*	border: 1px solid red;*/
		display: flex;
	}
	.im{
		margin: 0 auto;
		margin-top:50px;
		/*margin-left: 30px;*/
	}
	.txt3{
		color: #666262;
		margin-left:-10px;
		margin-top: 10px;

	}
	.txt4{
		color: #c7c6c6;
		margin-left:-40px;
	}
	.txt5{
		color: green;
		margin-top:10px;
	}
	.stn2{
		width: 100%;
		height: 600px;
		background-image: linear-gradient(to bottom , #efefef, #ffffff);
		/*border:1px solid red;*/
	}
	.txt6{
		width: 250px;
		color: green;
		margin: 0 auto;
		/*margin-left: 45%;*/
		padding: 20px;
		/*border: 1px solid red;*/
	}
	.stn2 .swiper-container{
		width: 80%;
		height: 400px;
	}
	.txt7{
		color: #a3a3a3;
		margin-top:10px;
		margin-left: 20px;
		display:block	
	}
	.txt8{
		color: #9fc290;
		margin-left: 20px;
		display:block
	}
	.txt9{
		color: #ffffff;
		margin-top:10px;
		margin-left: 20px;
	}
	.txt10{
		color: #ffffff;
		margin-left: 20px;
	}
	.tp{
		width: 250px;
		height: 350px;
		margin-left: 120px;
		padding-top: -100px;
		background: #efefef;
		display:inline-block;
		position:absulote;
		top:10%;
		transform:translateY(-80%);
	}
	.tp1{
		width: 250px;
		height: 350px;
		margin-top:-50px;
		background: #efefef;
		display:inline-block;
	}
	.tp2{
		width: 250px;
		height: 350px;
		margin-top:20px;
		background: #efefef;
		display:inline-block;
		position:absulote;
		top:10%;
		transform:translateY(-80%);
	}
	.tp3{
		width: 250px;
		height: 350px;
		margin-top:20px;
		background: #efefef;
		display:inline-block;
	}
	.tp:hover{
		background: #87b672;
		box-shadow:3px 2px 0px 0px #666666;
		color: #ffffff;
	} 
	.tp1:hover{
		background: #87b672;
	} 
	.tp2:hover{
		background: #87b672;
		box-shadow:3px 2px 0px 0px #666666;
	} 
	.tp3:hover{
		background: #87b672
	} 
	.tp-x{
		margin-top: 40px;
		width: 248px;
		height: 250px;
		background: #ffffff;
	}
	.tp-x img{
		width: 248px;
		height: 250px;
		margin: 0 auto
	}
	.tp-s{
		margin-top:30px;
		width: 248px;
		height: 250px;
		background: #ffffff;
	}
	.tp-s img{
		width: 248px;
		height: 250px;
		margin: 0 auto
	}
	.stn3{
		width: 100%;
		height: 460px;
		/*border: 1px solid red;*/
	}
	.txt11{
		color:#87b672;
		margin: 0 auto;
		width: 100px;
		height: 40px;
		margin-top:-70px;
		/*border: 1px solid red;*/
	}
	.cont{
		width: 80%;
		height: 360px;
		margin: 0 auto;
		/*border: 1px solid red;*/
		display: flex;
	}
	.cont1{
		width: 30%;
		height: 360px;
		align-self: center;
		margin-top:30px;
		/*border: 1px solid red;*/
		/*overflow: hidden;*/
		margin-left:10px;
		margin-right: 10px;
		background:url(image/6.png) no-repeat;
		background-size:100% 360px;
	}
	.cont1 img{
		width: 100%;
		height: 360px;
	}
	.cont1:hover{
		opacity: 1;
		transition:  0.5s;
		background:url(image/7.png) no-repeat;
		background-size:100% 360px;
		box-shadow:3px 2px 0px 0px #666666;
	} 
	.cont2{
		width: 80%;
		height: 50px;
		margin: 0 auto;
		/*border: 1px solid red;*/
		display: flex;
	}
	.cont3{
		width: 30%;
		height: 50px;
		align-self: center;
	/*	border: 1px solid red;*/
		margin-left: 70px;
	}
	.txt12{
		color: #84b16f;
		font-size: 12px;
		margin-left:-10px;
		margin-top:18px;
	}
	.txt13{
		color: #979ca1;
		font-size: 12px;
		margin-left: 50px;
	}
	.fte{
		width: 100%;
		height: 400px;
		background: #333333
	}
	.lf{
		width: 40%;
		height: 300px;
		/*border: 1px solid red;*/
		margin-left: 160px;
	}
	.lf1{
		width: 40%;
		height: 300px;
		/*border: 1px solid red;*/
		margin-top: -302px;
		float: right;
	}
	.lf-z{
		width: 260px;
		height: 90px;
		/*border: 1px solid red;*/
		margin-top: 10px;
	}
	.lf-z img{
		width: 260px;
		height: 80px;	
	}
	.lf-y{
		margin-top: -50px;
		margin-left: 320px;
	}
	.txt14{
		color: #565555;
		font-size: 14px;
		margin-top: 20px;
	}
	.lf-z1{
		color: #fefefe;
		font-size: 22px;
		margin-top:20px;
		margin-left: 60px;
	}
	.lf-z2{
		color: #565555;
		font-size: 14px;
		margin-top: 20px;
		line-height:20px;
		margin-left: 60px;
	}
	.lf-y1{
		color: #565555;
		line-height:20px;
		font-size: 14px;
		margin-top: -140px;
		margin-left: 260px;
	}
	.lf-z2 img{
		margin-top:5px;
	}
	.xl{
		width: 80%;
		height: 50px;
		margin: 0 auto;
		/*border: 1px solid red*/
	}
	.xx{
		color: #565555;
		font-size: 12px;
		margin-top: 10px;
		margin-left: 200px;
	}
	.xz{
		color: #565555;
		font-size: 12px;
		margin-top: -16px;
		margin-left: 1200px;
	}
